Django==5.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
django-redis==5.4.0
Pillow==10.1.0
django-allauth==0.59.0
channels==4.0.0
channels-redis==4.1.0
django-storages==1.14.2
python-jose==3.3.0
